
.button {
  @include transition(color $transition-speed-fast, background $transition-speed-fast, border $transition-speed-fast);

  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  display: inline-block;

  margin: 0 0 $spacing;
  position: relative;

  text-align: center;

  border-radius: $radius;

  padding: 0 $spacing;
  line-height: $size-medium;
  font-size: $font-size-medium;

  &.small {
    padding: 0 $spacing/2;
    line-height: $size-large;
    font-size: $font-size-large;
  }

  &.large {
    line-height: $size-large;
    font-size: $font-size-large;
  }

  >span { display: inline-block; }

  >.ss-standard, >.ss-social,
  >icon, >[icon] {
    font-size: 0.875em;
    width: 2em;

    &:first-child {
      margin-left: -1em;
      padding-right: 0.5em;
    }
    &:last-child {
      margin-right: -1em;
      padding-left: 0.5em;
    }
  }

  &.fill {
    @include text-overflow;
    display: block;
    margin: 0 auto $spacing;
    width: 100%;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.25;
  }
}
