
.button-group {
  @include clearfix;

  margin-bottom: $spacing;

  font-size: 0;

  white-space: nowrap;

  vertical-align: top;

  >.button,
  >.button-group {
    display: inline-block;

    margin-left: $spacing/2;
    margin-right: $spacing/2;
    margin-bottom: 0;

    vertical-align: top;

    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
  }

  &.combine {
    .button {
      margin-left: 0;
      margin-right: 0;

      border-left-width: 0;
      border-radius: 0;

      &:first-child {
        border-left-width: 1px;
        border-top-left-radius: $button-radius;
        border-bottom-left-radius: $button-radius;
      }

      &:last-child {
        border-right-width: 1px;
        border-top-right-radius: $button-radius;
        border-bottom-right-radius: $button-radius;
      }
    }
  }
}