

.button,
.button.primary {
  color: white;

  background: $color-primary-darker;
  border-color: $color-primary-darker;

  &:hover {
    color: $color-secondary;
    background: $color-primary;
  }
}

.button.dark,
.button.secondary {
  color: white;

  background: $color-secondary;
  border-color: $color-secondary;

  &:hover {
    color: white;
    background: $color-secondary-darker;
    border-color: darken($color-secondary-darker,5%);
  }
}

.button.light {
  color: $color-secondary;

  background: $color-light;
  border-color: $color-light;

  &:hover {
    color: $color-secondary;
    background: $color-light;
    border-color: darken($color-light,5%);
  }
}
