
.button,
.button.primary {
  color: white;

  background: $color-primary-darker;
  border-color: $color-primary-darker;

  -webkit-font-smoothing: antialiased;

  &:hover {
    color: $color-secondary;
    background: $color-primary;
  }
}

.button.dark,
.button.secondary {
  color: white;

  background: $color-secondary-darker;
  border-color: $color-secondary-darker;

  -webkit-font-smoothing: antialiased;

  &:hover {
    color: white;
    background: $color-secondary;
  }
}

.button.light {
  color: $color-secondary;

  background: $color-light;
  border-color: darken($color-light,5%);

  &:hover {
    color: $color-secondary;
    background: $color-lighter;
  }
}
