
p {
  margin: 0 0 $spacing;
}

a {
  transition: color $transition-speed-fast;
  cursor: pointer;

  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($color-primary,5%);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  padding: 0;

  line-height: $heading-line-height;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-transform: $heading-text-transform;
}

h1 {
  font-size: rem-calc(32);
}

h2 {
  font-size: rem-calc(28);
}

h3 {
  font-size: rem-calc(24);
}

h4 {
  font-size: rem-calc(20);
}

h5 {
  font-size: rem-calc(18);
}

h6 {
  font-size: rem-calc(16);
}

hgroup {
  @include clearfix;
  margin-bottom: $spacing;

  h1, h2, h3, h4, h5, h6 {
    + h1, + h2, + h3, + h4, + h5, + h6 {
      margin-top: -$spacing / 2;
    }
  }

  :last-child { margin-bottom: 0; }
}

.text-tiny { font-size: rem-calc($font-size * 0.75); }
.text-small { font-size: rem-calc($font-size  * 0.875); }
.text-large { font-size: rem-calc($font-size * 1.125); }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@each $i in $breakArray {
  @include respond-to('#{nth($i,1)}-only') {
    .#{nth($i,1)}-text-center { text-align: center; }
    .#{nth($i,1)}-text-left { text-align: left; }
    .#{nth($i,1)}-text-right { text-align: right; }
  }
}
