
.button, button {
  color: white;

  background: $color-primary;
  border-color: $color-primary;

  -webkit-font-smoothing: antialiased;

  &:hover {
    color: white;
    background: darken($color-primary,10%);
  }

  &.dark,
  &.secondary {
    color: white;

    background: rgba($color-secondary,0.9);
    border-color: rgba($color-secondary,0.9);

    -webkit-font-smoothing: antialiased;

    &:hover {
      color: white;
      background: darken($color-secondary,5%);
    }
  }

  &.light {
    color: $color-secondary;

    background: $color-light;
    border-color: rgba($color-secondary,0.1);

    &:hover {
      color: $color-secondary;
      background: lighten($color-light,5%);
    }
  }

  &.white {
    color: $color-secondary;

    background: white;
    border-color: rgba($color-secondary,0.1);

    &:hover {
      color: $color-secondary;
      background: lighten($color-light,5%);
    }
  }
}
