
.box {
  @include clearfix;
  display: block;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing;
  padding: $spacing $spacing 0;

  border-radius: $box-radius;

  &.primary {
    background-color: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-light;
  }

  &.light {
    background-color: $color-light;
    color: $color-secondary;
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;
  }
}
