
section {
  padding-top: $spacing;
  padding-bottom: 0;

  @include respond-to(medium) {
    padding-top: $spacing*2;
    padding-bottom: $spacing;
  }

  @each $i in $colorArray {
    &.#{nth($i,1)} {
      background-color: nth($i,2);
      color: nth($i,3);

      @if lightness(nth($i,3)) > lightness(nth($i,2)) {
        -webkit-font-smoothing: antialiased;
      }

      &.light {
        background-color: mix(white,nth($i,2),10%);
      }
      &.dark {
        background-color: mix(black,nth($i,2),10%);
      }
    }
  }
}
