
section {
  padding-top: $spacing*3;
  padding-bottom: $spacing*2;

  @include respond-to(medium) {
    padding-bottom: $spacing;
  }

  &.primary {
    background-color: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-light;
  }

  &.light {
    background-color: $color-light;
    color: $color-secondary;
  }

  &.white {
    background-color: white;
    color: $color-secondary;
  }
}
