
section {
  padding-top: rem-calc($spacing*3);
  padding-bottom: rem-calc($spacing*2);

  @include respond-to(medium) {
    padding-bottom: rem-calc($spacing);
  }

  &.primary {
    background-color: $color-primary;
    color: $color-light;
  }

  &.secondary {
    background-color: $color-secondary;
    color: $color-light;
  }

  &.light {
    background-color: $color-light;
    color: $color-secondary;
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;
  }
}
