
// ==========================================================================
// Transitions
// ==========================================================================

@mixin transition($settings...){
  -webkit-transition: $settings;
  -khtml-transition: $settings;
  -moz-transition: $settings;
  -ms-transition: $settings;
  -o-transition: $settings;
  transition: $settings;
}

@mixin transition-delay($delay) {
  -webkit-transition-delay: $delay;
  -khtml-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -khtml-transition-property: $property;
  -moz-transition-property: $property;
  -ms-transition-property: $property;
  -o-transition-property: $property;
  transition-property: $property;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -khtml-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
  -khtml-transition-timing-function: $timing-function;
  -moz-transition-timing-function: $timing-function;
  -ms-transition-timing-function: $timing-function;
  -o-transition-timing-function: $timing-function;
  transition-timing-function: $timing-function;
}
