
dropdown,
select,
textarea,
input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"] {
  @include clearfix;
  @include box-sizing(border-box);
  @include transition(margin $transition-speed, border $transition-speed, box-shadow $transition-speed);

  display: inline-block;
  vertical-align: bottom;

  position: relative;
  z-index: 8;

  margin: 0;
  padding: 0 $spacing/2;

  width: auto;
  .input & { width: 100%; }
  height: $size-medium;
  line-height: $size-medium;

  font-size: $font-size-medium;
  color: $font-color;

  outline: none;

  border: 0;
  border-radius: $form-radius;

  background: white;

  -webkit-appearance: none;
  -moz-appearance: none;

  @include placeholder();

  &.disabled,
  &[disabled] {
    -webkit-font-smoothing: antialiased;
    color: white;
    background: $color-primary-darker;

    @include placeholder(white);
  }

  &.large {
    padding: 0 $spacing;

    height: $size-large;
    line-height: $size-large;

    font-size: $font-size-large;
  }

  &.small {
    height: $size-small;
    line-height: $size-small;

    font-size: $font-size-small;
  }

  &:hover { box-shadow: 0 0 2px rgba($color-secondary,0.5); }
  &:focus { box-shadow: 0 0 2px rgba($color-secondary,0.75); }
  .error &,
  &.error { box-shadow: 0 0 2px 1px rgba(red,0.75); }
}

.input {
  margin-bottom: $spacing;
  position: relative;

  &.tight { margin-bottom: $spacing/2; }

  label {
    display: block;

    margin: 0;
    line-height: $size-medium;

    font-weight: normal;
    font-size: $font-size-medium;
    text-align: left;

    &.small {
      line-height: $size-small;
      font-size: $font-size-small;
    }

    &.large {
      line-height: $size-large;
      font-size: $font-size-large;
    }

    &.inline {
      display: inline-block;
      vertical-align: bottom;
      padding: 0 $spacing/2;
    }
  }

  &.side {
    $form-side-padding: 150px;

    padding-left: $form-side-padding;
    position: relative;

    >label:first-child {
      max-width: $form-side-padding;
      position: absolute;
      top: 0;
      left: 0;
    }

    @include respond-to($form-side-padding*3) {
      padding-left: 0;

      >label:first-child {
        max-width: none;
        position: static;
      }
    }
  }

  &.error {
    label { color: red; }
  }
}
