
.input textarea,
textarea {
  line-height: em-calc(20);

  @include resizable(vertical);

  &.small {
    $padding: $size-small - 20;
    min-height: (20px * 3) + $padding;
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  &,
  &.medium {
    $padding: $size-medium - 20;
    min-height: (20px * 3) + $padding;
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  &.large {
    $padding: $size-large - 20;
    min-height: (20px * 3) + $padding;
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }

  &.disabled,
  &[disabled] {
    @include resizable(none);
  }
}
