
hero {
  @include user-select(none);
  cursor: default;
  display: block;

  margin: 0 auto $spacing;
  height: 600px;

  position: relative;

  background-color: rgba($color-primary,1);

  inner {
    overflow: hidden;
    display: block;
    margin: auto;
    padding: 0 $spacing/4;

    width: 100%;
    max-width: 600px;
    height: em-calc(80,40);
    line-height: em-calc(80,40);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: em-calc(40);
    text-align: center;
    color: white;

    background-color: rgba($color-secondary,1);
  }
}
