
html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;

  line-height: $line-height;

  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;

  background: $body-background;

  direction: $text-direction;
}

body {
  margin: 0;
  height: 100%;
}

main {
  min-height: 100%;
  min-width: $page-min-width;
  position: relative;
  z-index: 1;
  padding: 0;

  background: $body-background;
}

// Default box-sizing to border-box, except for images and hr
*, *:before, *:after {
  box-sizing: border-box;
}

hr,img {
  box-sizing: content-box;
}

// General elements

code {
  display: inline-block;
  padding: 0 2px;
  background: fade($color-primary,20%);
  border: 1px dotted $color-secondary;
}

// Horizontal line

hr {
  @include clearfix;

  background: 0;
  border: 0;
  outline: 0;

  margin: $spacing 0;
  height: 1px;
  border-top: 1px solid $color-gray-light;

  &.dotline {
    border-top-style: dashed;
  }
}

// Cheat classes

.notransition {
  transition: none !important;
}

.noscroll {
  overflow: hidden !important;
}

.relative {
  position: relative;
}

.clear { clear: both; }
.float-right { float: right; }
.float-left { float: left; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@include respond-to(large-only) {
  .large-text-center { text-align: center; }
  .large-text-left { text-align: left; }
  .large-text-right { text-align: right; }
}

@include respond-to(medium-only) {
  .medium-text-center { text-align: center; }
  .medium-text-left { text-align: left; }
  .medium-text-right { text-align: right; }
}

@include respond-to(small-only) {
  .small-text-center { text-align: center; }
  .small-text-left { text-align: left; }
  .small-text-right { text-align: right; }
}
