row, column { display: block; }

.row, row {
  @function grid-calc($colNumber, $totalColumns: $grid-count) {
    @return percentage($colNumber / $totalColumns);
  }
  @mixin grid-columns($className: 'span') {
    @for $col from 1 through $grid-count {
      &.#{$className}-#{$col} { width: grid-calc($col); }
    }
  }
  @mixin grid-center($className: 'span') {
    &.#{$className}-centered {
      margin-#{$default-float}: auto;
      margin-#{$opposite-float}: auto;
      float: none !important;
      clear: both;
    }
  }
  @mixin grid-offset($className: '') {
    @if($className != '') {
      $className: "#{$className}-";
    }
    @for $col from 1 through $grid-count {
      &.#{$className}offset-#{$col} { margin-left: grid-calc($col); }
    }
  }
  @mixin grid-ordering($className: '') {
    @if($className != '') {
      $className: "#{$className}-";
    }

    @for $col from 1 through $grid-count {
      &.#{$className}push-#{$col} { left: grid-calc($col); }
      &.#{$className}pull-#{$col} { right: grid-calc($col); }
    }
  }

  @include clearfix;
  margin: 0 auto;
  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;

  width: 100%;
  max-width: $page-max-width;
  min-width: $page-min-width;

  .row, .col > &,
  row, column > & {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
    width: auto;
    max-width: none;
    min-width: 0;
  }

  .col, column {
    @include clearfix;
    float: $default-float;
    position: relative;
    display: block;
    width: 100%;

    min-height: 1px;
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;

    &.col-centered {
      margin-#{$default-float}: auto;
      margin-#{$opposite-float}: auto;
      float: none !important;
      clear: both;
    }

    &.right { float: $opposite-float; }

    @include respond-to(small) { @include grid-columns('small'); }
    @include respond-to(medium) { @include grid-columns('medium'); }
    @include respond-to(large) { @include grid-columns('large'); }

    @include grid-offset();
    @include grid-ordering();

    @include respond-to(small-only) {
      @include grid-center('small');
      @include grid-offset('small');
      @include grid-ordering('small');
    }
    @include respond-to(medium-only) {
      @include grid-center('medium');
      @include grid-offset('medium');
      @include grid-ordering('medium');
    }
    @include respond-to(large-only) {
      @include grid-center('large');
      @include grid-offset('large');
      @include grid-ordering('large');
    }
  }

  &.row-reverse {
    > .col, > column {
      float: $opposite-float;
    }
  }

  &.no-gutter {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    > .col, > column {
      padding-left: 0;
      padding-right: 0;
    }
  }
}