
.hide { display: none !important; }
.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }

.large-show,
.medium-show,
.small-show { display: none !important; }

.large-hide,
.medium-hide,
.small-hide { display: block !important; }

@include respond-to(large-only) {
  .large-show { display: block !important; }

  .medium-show,
  .small-show { display: none !important; }

  .large-hide { display: none !important; }

  .medium-hide,
  .small-hide { display: block !important; }
}


@include respond-to(medium-only) {
  .medium-show { display: block !important; }

  .large-show,
  .small-show { display: none !important; }

  .medium-hide { display: none !important; }

  .large-hide,
  .small-hide { display: block !important; }
}

@include respond-to(small-only) {
  .small-show { display: block !important; }

  .large-show,
  .medium-show { display: none !important; }

  .small-hide { display: none !important; }

  .large-hide,
  .medium-hide { display: block !important; }
}

.medium-up-show { display: none !important; @include respond-to(medium){ display: block !important; }}
.medium-up-hide { display: block !important; @include respond-to(medium){ display: none !important; }}
